<a href="https://colab.research.google.com/github/yoonpiri/.cursor-tutor/blob/main/p_bigdata_type1_exercise_day2_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Day2

>> **본 문항들은 eduatoz.kr 소유이므로 절대 다른 곳에 공개, 공유를 금지하고 있습니다.**

#### 초급수준
- 어제 문제 풀이에서 틀린 부분이 많으시다면, 초급수준부터 완성해 보세요

**2-1) 상위 지출 고객의 팁 분석**

식사 지출이 높은 고객일수록 팁을 더 많이 주는지 알아보기 위해, 총 지출(total_bill)이 높은 고객들의 팁(tip)을 분석하고자 합니다.

다음 작업을 수행하세요.
- 'total_bill' 컬럼에서 결측치를 제거한 뒤, 'total_bill' 기준 상위 20%에 해당하는 데이터를 추출합니다.
- 위에서 추출된 데이터에 대해 'tip' 평균을 계산하여 결과로 제출합니다.
- 결과는 반올림하여 소수점 아래 3자리까지 출력합니다.

In [ ]:
# 데이터 확인
import pandas as pd
pd.set_option('display.width', 120)
path = 'https://raw.githubusercontent.com/Soyoung-Yoon/data_01/main/'
df = pd.read_csv(path +'tips02.csv')
print(df.isna().sum().to_frame().T)
print(df.head(3))

   total_bill  tip  sex  smoker  day  time  size
0           3    1    3       3    2     2     1
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner   2.0
1       10.34  1.66    Male     No  Sun  Dinner   3.0
2       21.01  3.50    Male     No  Sun  Dinner   3.0

In [ ]:
# 여기에 풀이해 주세요.
import pandas as pd
pd.set_option('display.width', 120)
path = 'https://raw.githubusercontent.com/Soyoung-Yoon/data_01/main/'
df = pd.read_csv(path +'tips02.csv')

**2-2) 고알코올 와인의 산도 특성 분석**

알코올 도수가 높은 와인은 특정 종류(wine_variety)에 따라 화학적 특성이 다를 수 있습니다. 이 문제에서는 고알코올 와인의 산도(malic_acid) 특성을 분석하고자 합니다.

다음 작업을 수행하세요.
- wine.csv를 사용합니다.
- alcohol 컬럼의 값이 중앙값보다 큰 데이터 중, wine_variety가 1인 데이터의 malic_acid 평균을 계산하여 결과로 제출합니다.
- 결과는 반올림하여 소수점 아래 3자리까지 출력합니다.

In [ ]:
# 데이터 확인
import pandas as pd
pd.set_option('display.width', 120)
filename = 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/wine.csv'
df = pd.read_csv(filename)
print(df.head(3))

   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  flavanoids  nonflavanoid_phenols  \
0    14.23        1.71  2.43               15.6      127.0           2.80        3.06                  0.28
1    13.20        1.78  2.14               11.2      100.0           2.65        2.76                  0.26
2    13.16        2.36  2.67               18.6      101.0           2.80        3.24                  0.30

   proanthocyanins  color_intensity   hue  od280/od315_of_diluted_wines  proline  wine_variety
0             2.29             5.64  1.04                          3.92   1065.0             0
1             1.28             4.38  1.05                          3.40   1050.0             0
2             2.81             5.68  1.03                          3.17   1185.0             0

In [ ]:
# 여기에 풀이해 주세요.
import pandas as pd
pd.set_option('display.width', 120)
filename = 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/wine.csv'
df = pd.read_csv(filename)

#### 중급수준

**2-3) 펭귄 부리 깊이 특성 분석**

펭귄의 날개 길이와 부리 깊이는 종(species)에 따라 다르게 분포한다. 이 문제에서는 특정 조건을 만족하는 펭귄들의 부리 깊이 특성을 분석하고자 한다.

다음 작업을 수행하세요.
- penguins01.csv 파일을 사용하도록 합니다.
- 모든 결측치를 제거합니다. (결측치가 1개라도 포함된 행 제거를 합니다.)
- species가 'Chinstrap'이면서 flipper_length_mm이 40% 분위수 이상인 펭권들만 필터링하여 사용합니다.
- 위에서 필터링된 데이터에서 bill_depth_mm이 해당 그룹의 중앙값보다 큰 개체의 수를 출력합니다.

[참조] 해당 그룹이란 "species가 'Chinstrap'이면서 flipper_length_mm이 40% 분위수 이상인 펭권"을 의미합니다.

In [ ]:
# 데이터 확인
import pandas as pd
pd.set_option('display.width', 120)
filename = 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/penguins01.csv'
df = pd.read_csv(filename)
print(df.head())
df.isna().sum().to_frame().T

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen            39.1           18.7              181.0       3750.0    Male
1  Adelie  Torgersen            39.5           17.4              186.0       3800.0  Female
2  Adelie  Torgersen            40.3           18.0              195.0       3250.0  Female
3  Adelie  Torgersen             NaN            NaN                NaN          NaN     NaN
4  Adelie  Torgersen            36.7           19.3              193.0       3450.0  Female

   species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  sex
0        0       0               2              2                  2            2   11

In [ ]:
# 여기에 풀이해 주세요.
import pandas as pd
pd.set_option('display.width', 120)
filename = 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/penguins01.csv'
df = pd.read_csv(filename)

**2-4) 다이아몬드 컷 등급별 특성 비교**

다이아몬드의 cut 등급에 따라 가격과 깊이(depth) 특성이 달라집니다. 이 문제에서는 가장 저렴한 cut과 가장 비싼 cut의 내부 특성을 비교 분석합니다.

다음 작업을 수행하세요.
- diamonds.csv 파일을 사용하도록 합니다.
- 다음의 두 값(A, B)을 구하고, 이 두 값을 더한 결과를 정수로 출력합니다.
- A : 평균 가격(price)이 가장 낮은 cut의 데이터 중,
depth가 해당 cut의 데이터에서 중앙값 이상인 데이터의 개수
- B : 평균 가격(price)이 가장 높은 cut의 데이터 중,
depth가 해당 cut의 데이터 평균 depth보다 작은 데이터의 개수

In [ ]:
# 데이터 확인
import pandas as pd
pd.set_option('display.width', 120)
filename = 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/diamonds.csv'
df = pd.read_csv(filename)
print(df.head())

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
# 여기에 풀이해 주세요.
import pandas as pd
pd.set_option('display.width', 120)
filename = 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/diamonds.csv'
df = pd.read_csv(filename)

**2-5) 연도별 승객 증가와 최고 월 분석**

승객 수는 연도와 월에 따라 다르게 변동하며, 특정 연도에 큰 성장이 일어날 수 있습니다. 이 문제에서는 연도별 증가량과 해당 연도의 최고 월 승객 수를 분석합니다.

다음 작업을 수행하세요.
- passengers.csv를 사용하세요.
- 연도(year)별 총 승객 수(passengers)를 계산한 후, 연도 중 가장 승객 수가 많이 증가한 연도(year)를 구합니다.
- 이때, 첫 번째 년도는 증가치를 0으로 사용합니다.
- 위의 결과로 구한 연도(year)에서 가장 승객이 많았던 달(month)의 승객수를 정수로 출력합니다.

In [ ]:
# 데이터 확인
import pandas as pd
pd.set_option('display.width', 120)
filename = 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/flights.csv'
df = pd.read_csv(filename)
df.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [ ]:
# Series.diff()를 사용하여 보세요.
import pandas as pd
df = pd.DataFrame()
df['original'] = pd.Series([100, 120, 130, 90, 150])
df['diff'] = df['original'].diff().fillna(0)
print(df)

   original  diff
0       100   0.0
1       120  20.0
2       130  10.0
3        90 -40.0
4       150  60.0

In [ ]:
# 여기에 풀이해 주세요.
import pandas as pd
pd.set_option('display.width', 120)
filename = 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/flights.csv'
df = pd.read_csv(filename)